app/windows/** linguist-generated=true
app/linux/** linguist-generated=true
app/macos/** linguist-generated=true
app/ios/** linguist-generated=true
app/android/** linguist-generated=true
app/web/** linguist-generated=true
